* {
    box-sizing: border-box;
}    

body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #1f1f1f;
    text-shadow: 0px 0px 4px whitesmoke;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 15px 25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
}
.center {
    display: flex;
    justify-content: center;
}
.search-input {
    width: 35%;
    opacity: 0.3;
    transition: 0.3s;
}
.search-input:hover {
    opacity: 1;
}
.bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#author {
    align-self: flex-end;
    margin-bottom: 25px;
    font-size: 1.5rem;
}
/*------------------SEARCH-------------------*/
.search-container {
    position: relative;
}
.search-container a {
    position: absolute;
    z-index: 1;
}
.search-form {
    display: flex;
    flex-direction: column;
}
.input-text {
    position: absolute;
    width: 100%;
    height: 35px;
    border-radius: 15px;
    border: none;
    padding-left: 40px;
    outline: none;
}
.input-text:active {
    border: none;
}
.google-logo {
    width: 30px;
    position: absolute;
    top: 2px;
    left: 2px;
}

/*------------------TIME-------------------*/
h1.time {
    text-align: right;
    font-size: 3rem;
}
/*------------------DOLAR API-------------------*/
#cotizaciones {
    display: flex;
    gap: 40px;
    font-size: 1.1rem;
    margin: 0;
}
#cotizaciones p {
    margin: 5px;
}
.title {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0;
}
/*------------------WEATHER API-------------------*/
div#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    margin-top: -20px;

}

p.weather-city {
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -10px;
    font-size: 1.7rem;
}

p.weather-temp {
    margin: 0;
    font-size: 3rem;
    margin-left: -10px;
}